<section>
  <header>
    <h1>Hi! I'm Tanja Pislar</h1>
  </header>
  <p>I work with code that does cool stuff on the web.</p>
  <p>I am freelancing from Edinburgh, Scotland.</p>
  <p>You can <a href="{{ root_url }}/hire-me">hire me</a> to help you be more awesome.</p>
</section>

<section>
  {% include navigation.html %}
</section>

<section id="online-stalking">
  <a title="klaut on Github" href="https://github.com/{{site.github_user}}">
    <i class="icon-github icon-large"></i>
  </a>
  <a title="tanjapislar on Twitter" href="http://twitter.com/tanjapislar">
    <i class="icon-twitter icon-large"></i>
  </a>
  <a  href="{{ site.subscribe_rss }}" rel="subscribe-rss" title="subscribe via RSS">
    <i class="icon-rss icon-large"></i>
  </a>
</section>
