{% if projects %}
  <ul class="projects">
  {% for project in projects %}
    <li>
      <h3>{% if project.link %}<a href="{{ project.link }}">{{ project.title }}</a>{% else %}{{ project.title }}{% endif %}</h3>
      <ul class="metadata">
        <li class="project-stack"> stack: {{ project.stack | join:', ' }}</li> 
        <li>{{ project.categories | join:', ' }}</li>
      </ul>
      {{ project.content }}
      {% if project.screenshot %}
      <div class="screenshot">
        <a href="{{ project.link }}"><img src="{{ project.screenshot }}" ></a>
      </div>
      {% endif %}
    </li>
  {% endfor %}
  </ul>
{% endif %}
