// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much
$sans: "Open Sans", "Helvetica Neue", Arial, sans-serif !default;
$serif: "PT Serif", Georgia, Times, "Times New Roman", serif !default;
$mono: Menlo, Monaco, "Andale Mono", "lucida console", "Courier New", monospace !default;
$heading-font-family: "PT Serif", "Georgia", "Helvetica Neue", Arial, sans-serif !default;
$header-title-font-family: $heading-font-family !default;
$header-subtitle-font-family: $heading-font-family !default;
$img-border: inline-image('dotted-border.png');

$adn-icon: inline-image('alpha-icon.png');

.sans { font-family: $sans; }
.serif { font-family: $serif; }
.mono { font-family: $mono; }

$red: #b40d12; //#ba0084;
$light-gray: #eee;
$gray: #a0a0a0;

.toggle-sidebar { display: none; }
.left { float: left; }
.right { float: right; }


.icon-adn { 
  background: $adn-icon left top no-repeat; 
  width: 24px; 
  height: 24px;
}

pre, code, tt { @extend .mono; }

body{

  border-top: 50px solid $light-gray;
  font-family: $sans;
  font-size: 1em;
  line-height: 1.2em;
  vertical-align: baseline;
  color: #444;
  position: relative;
}

a {
  color: $red;
  text-decoration: none;
  outline: 0;
  &:hover{
    text-decoration: none;
  }
}

h1, h2 {
  // font-family: $serif;
  font-size: 1.3em;
  font-weight: 600;
  color: #191919;
}

h2 {
  font-size: 1.2em;
}

p{
  margin-bottom: 10px;
}

header[role=banner] {
  width: 980px;
  margin: 0 auto;
  padding: 0;
  color: $red;
  section#logo {
    position: absolute;
    font-size: 18px;
    font-weight: 600;
    top: -35px;
    display: inline;
    margin-left: 10px;
    margin-right: 10px;
    //a { color: #333; }
  }

}

#main {
  position: relative;
  width: 980px;
  margin: 0 auto;
  padding: 0;
}

aside.sidebar {
  width: 250px;
  float: left;
  display: inline;
  margin-left: 10px;
  margin-right: 10px;
  padding-top: 100px;
  font-size: 14px;

  section {

    margin-bottom: 20px;

    header {
      margin-bottom: 10px;
    }

    &#online-stalking {
      font-size: 28px;
      font-weight: 600;

      margin: 30px 0 30px 0;
      padding: 20px 0 20px 0;

      a {
        margin-right: 10px;
        // color: $light-gray;
        // &:hover {
        //   color: $red;
        // }
      }
      //background: $img-border top left repeat-x;
    }
  }

}

#content {
    width: 630px;
    float:left;
    display: inline;
    margin-left: 10px;
    margin-right: 10px;
    padding-left: 40px;
    padding-top: 100px;
    border-left: 1px solid $light-gray;
    min-height: 400px;
  }

.entry-content {
  background: $img-border left bottom repeat-x;
  padding-bottom: 20px;
  margin-bottom: 30px;
}

article {
  margin-bottom: 20px;
  line-height: 1.5em;

  h1 {
    font-size: 1.8em;
  }

  header { margin-bottom: 50px; }
}

.meta{
  font-size: 0.8em; 
}

section.comments {
  margin-top: 100px;
  margin-bottom: 50px;
}

#blog-archives {
  h2 {
    margin: 10px 0 10px 0;
  }
  article{
    margin-bottom: 0;
    margin-left: 30px;
    time {
      float: left;
      font-size: 12px;
      vertical-align: baseline;
      &:after {
        content: "";
      }
      margin-right: 10px;
    }
    h1 {
      font-size: 18px;
      vertical-align: baseline;
      font-weight: 400;
    }
  }
}

.pagination {
  font-size: 0.9em;
  text-align: center;
  .prev { float: left; }
  .next { float: right; }

  padding: 10px 0 10px 0;
}

footer{
  clear: left;
  &.contentinfo {
    font-size: 0.7em;
    color: $gray;
    padding: 5px;
    border-top: 1px solid $light-gray;
    p {
      width: 980px;
      margin: 0 auto;
    }

    // padding-left: 400px;
  }
}

p, li {
  code {
    @extend .mono;
    display: inline-block;
    white-space: no-wrap;
    background: #fff;
    font-size: .8em;
    line-height: 1.5em;
    color: #555;
    border: 1px solid #ddd;
    @include border-radius(.4em);
    padding: 0 .3em;
    margin: -1px 0;
  }
  pre code { font-size: 1em !important; background: none; border: none; }
}


.gist {
  font-size: 0.8em;
  .gist-file {
    .gist-data {
      overflow: inherit !important;
    }
  }
}

.illustration {
  text-align: center;
  padding: 15px;
  margin: 15px 0 15px 0;
  border: 1px solid #eee;
  border-radius: 5px;
}

